*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}
.app{
    min-height: 100vh;
    background-color: aqua;
    display: flex;
    justify-content: center;

}
.app-content{
    border: 5px solid;
    max-width: 1300px;
    width: 100%;
    display: flex;
}
.box1{
    border: 5px solid blue;
    width: 50%;
}


/* box-2 */
/* #region */

.box2{
    border: 5px solid rgb(72, 255, 0);
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    background-color: aliceblue;
    max-width: 600px;
    width: 100%;
    padding: 40px 30px;
    box-shadow: 5px;
}
.multi{
    /* border: 5px solid; */
    display: flex;
    gap: 10px;
}
.form-group{
    /* border: 5px solid red; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
input{
    width: 100%;
    padding: 5px 0px;
    border-radius: 5px;
}
select{
    width: 100%;
    padding: 5px 0px;
    border-radius: 5px;
}
.form-group button{
    margin-top: 15px;
    padding: 10px 0px;
    border-radius: 5px;
    background-color: aquamarine;
}
form p{
    text-align: center;
}
form p span{
    color: aquamarine;
}
/* #endregion */

/* mobile */
@media screen and (max-width:700px) {
    
}
